body {
  background-color: rgb(240, 243, 243);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h4 {
  font-family: 'Rockwell';
  margin-left: 25px;
  margin-right: 25px;
}

#storyHeader {
  display: flex;
  justify-content: space-between;
}

#storyH1, #shareButton {
  margin: 21.44px 25px;
}

h4 {
  margin-top: 0;
}